@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Montserrat:500|Quicksand:500');

html {
    font-family:Quicksand;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
}

body {
    margin:0;
    min-height: 100%;
    padding-bottom: auto;
    vertical-align: center center no-repeat;
}

.motto {
    font-family: Open Sans;
    font-weight: 200;
}

.fixed {
    position: fixed;
}

.haha h1 {
    height: 100%;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    color: #aaa;
}

#thediv {
    display: none;
    height: 210px;
    width: 250px;
}

.haha h2 {
    height: 125%;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    color: #fff;
}

a.active {
    font-weight: 600;
}

a.active:hover {
    color: #000;
}


@media (max-width: 1000px) {
.page {
    text-align: center;
    padding-top: 0;
    margin-top: 0;
}

.dark {
    background-color: none;
}
}
.dark {
    background-color: rgb(250, 250, 250);
}

.light {
    background-color: rgb(260, 260, 260);
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
    display:block;
}

audio,canvas,progress,video {
    display:inline-block;vertical-align:baseline;
}

audio:not([controls]) {
    display:none;height:0;
}

[hidden],template {
    display:none;
}

a {
    background-color:transparent;
}

a:active,a:hover {
    outline:0;
}

abbr[title] {
    border-bottom:1px dotted;
}

b,strong {
    font-weight:700;
}

dfn{font-style:italic}

h1{font-size:2em;margin:0.67em 0}

mark{background:#ff0;color:#000}

small{font-size:80%}

sub,sup{font-size:75%; line-height:0;position:relative;vertical-align:baseline}

sup{top:-0.5em}

sub{bottom:-0.25em}

img{border:0}

svg:not(:root){overflow:hidden}

figure{margin:1em 40px}

hr{box-sizing:content-box;height:0}

pre{overflow:auto}

code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}

button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}

button{overflow:visible}

button,select{text-transform:none}

button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}

button[disabled],html input[disabled]{cursor:default}

button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}

input{line-height:normal}

input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}

input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{ 
    -webkit-appearance:textfield;box-sizing:content-box;
}

input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}

fieldset{border:1px solid silver;margin:0 2px;padding:0.35em 0.625em 0.75em}legend{border:0;padding:0}

textarea{overflow:auto}

optgroup{font-weight:700}

table{border-collapse:collapse;border-spacing:0}

td,th{padding:0}

.container{position:relative;width:100%;max-width:1024px;margin:0 auto;padding:0 20px;box-sizing:border-box}

.column,.columns{width:100%;float:left;box-sizing:border-box}

@media (min-width: 550px) {
    .container{width:100%}

    .column,.columns{margin-left:4%}

    .column:first-child,.columns:first-child{margin-left:0}

    .one.column,.one.columns{width:4.666666667%}

    .two.columns{width:13.333333333%}

    .three.columns{width:22%}

    .four.columns{width:30.666666667%}

    .five.columns{width:39.333333333%}

    .six.columns{width:48%}

    .seven.columns{width:56.666666667%}

    .eight.columns{width:65.333333333%}

    .nine.columns{width:74%}

    .ten.columns{width:82.666666667%}

    .eleven.columns{width:91.333333333%}

    .twelve.columns{width:100%;margin-left:0}

    .one-third.column{width:30.666666667%}

    .two-thirds.column{width:65.333333333%}

    .one-half.column{width:48%}

    .offset-by-one.column,.offset-by-one.columns{margin-left:8.666666667%}

    .offset-by-two.column,.offset-by-two.columns{margin-left:17.333333333%}

    .offset-by-three.column,.offset-by-three.columns{margin-left:26%}

    .offset-by-four.column,.offset-by-four.columns{margin-left:34.666666667%}

    .offset-by-five.column,.offset-by-five.columns{margin-left:43.333333333%}

    .offset-by-six.column,.offset-by-six.columns{margin-left:52%}

    .offset-by-seven.column,.offset-by-seven.columns{margin-left:60.666666667%}

    .offset-by-eight.column,.offset-by-eight.columns{margin-left:69.333333333%}

    .offset-by-nine.column,.offset-by-nine.columns{margin-left:78%}

    .offset-by-ten.column,.offset-by-ten.columns{margin-left:86.666666667%}

    .offset-by-eleven.column,.offset-by-eleven.columns{margin-left:95.333333333%}

    .offset-by-one-third.column,.offset-by-one-third.columns{margin-left:34.666666667%}

    .offset-by-two-thirds.column,.offset-by-two-thirds.columns{margin-left:69.333333333%}

    .offset-by-one-half.column,.offset-by-one-half.columns{margin-left:52%}
}

html{font-size:62.5%}

body{font-size:1.5em;line-height:1.6;font-weight:400;font-family:Quicksand,sans-serif}

h1,h2,h3,h4,h5,h6{margin-top:0;margin-bottom:2rem;font-weight:300}

h1{font-size:4rem;line-height:1.2;letter-spacing:-0.1rem}

h2{font-size:3.6rem;line-height:1.25;letter-spacing:-0.1rem}

h3{font-size:3rem;line-height:1.3;letter-spacing:-0.1rem}

h4{font-size:2.4rem;line-height:1.35;letter-spacing:-0.08rem}

h5{font-size:1.8rem;line-height:1.5;letter-spacing:-0.05rem}

h6{font-size:1.5rem;line-height:1.6;letter-spacing:0}

@media (min-width: 550px){ 
    h1{font-size:5rem}

    h2{font-size:4.2rem}

    h3{font-size:3.6rem}

    h4{font-size:3rem}

    h5{font-size:2.4rem}

    h6{font-size:1.5rem}
}

p{margin-top:0}

.button,button,input[type=button],input[type=reset],input[type=submit]{display:inline-block;height:38px;padding:0 30px;text-align:center;font-size:11px;font-weight:600;line-height:38px;letter-spacing:0.1rem;text-transform:uppercase;text-decoration:none;white-space:nowrap;background-color:transparent;border-radius:4px;border:1px solid;cursor:pointer;box-sizing:border-box}

.button:focus,.button:hover,button:focus,button:hover,input[type=button]:focus,input[type=button]:hover,input[type=reset]:focus,input[type=reset]:hover,input[type=submit]:focus,input[type=submit]:hover{outline:0}

input[type=email],input[type=number],input[type=password],input[type=search],input[type=tel],input[type=text],input[type=url],select,textarea{height:38px;padding:6px 10px;border:1px solid;border-radius:4px;box-shadow:none;box-sizing:border-box}

input[type=email],input[type=number],input[type=password],input[type=search],input[type=tel],input[type=text],input[type=url],textarea{-webkit-appearance:none;-moz-appearance:none;appearance:none}textarea{min-height:65px;padding-top:6px;padding-bottom:6px}

input[type=email]:focus,input[type=number]:focus,input[type=password]:focus,input[type=search]:focus,input[type=tel]:focus,input[type=text]:focus,input[type=url]:focus,select:focus,textarea:focus{border:1px solid;outline:0}

label,legend{display:block;margin-bottom:0.5rem;font-weight:600}

fieldset{padding:0;border-width:0}

input[type=checkbox],input[type=radio]{display:inline}

label>.label-body{display:inline-block;margin-left:0.5rem;font-weight:400}

ul{list-style:none;}

ol{list-style:decimal inside}

ol,ul{padding-left:0;margin-top:0}

ol ol,ol ul,ul ol,ul ul{margin:1.5rem 0 1.5rem 3rem;font-size:90%}li{margin-bottom:1rem}

code{padding:0.2rem 0.5rem;margin:0 0.2rem;font-size:90%;white-space:nowrap;border:1px solid;border-radius:4px}

pre>code{display:block;padding:1rem 1.5rem;white-space:pre}td,th{padding:12px 15px;text-align:left;border-bottom:1px solid}

td:first-child,th:first-child{padding-left:0}

td:last-child,th:last-child{padding-right:0}

.button,button{margin-bottom:1rem}

fieldset,input,select,textarea{margin-bottom:1.5rem}

blockquote,dl,figure,form,ol,p,pre,table,ul{margin-bottom:2.5rem}

.u-full-width{width:100%;box-sizing:border-box}

.u-max-full-width{max-width:100%;box-sizing:border-box}

.u-pull-right{float:right}

.u-pull-left{float:left}

hr{margin-top:3rem;margin-bottom:3.5rem;border-width:0;border-top:1px solid}

.container:after,.row:after,.u-cf{content:"";display:table;clear:both}

#home .hero{text-align:center;padding:7rem 0 0 0}

#home .hero ul li{display:inline-block;list-style:none;text-align:center;margin-right:2.5%}

#home .hero .hero-text{font-size:400%;margin-bottom:7.5px}

#home .hero img.logo{height:250px;margin:15px 0 30px 0}

#home .hero .container{margin-bottom: 4%;}

#home .hero h4{color:#aaa;font-weight:100;margin-top:0}

#home .hero ul.cta{margin-top:50px}

#home .hero .button{font-size:0.8em;font-weight:500;padding:5px 30px;margin:0 10px;height:auto;width:auto;border:2px solid}

#home .hero .button a{text-decoration:none;border-bottom:none;color:inherit;font-family:Quicksand,sans-serif}

.button.primary{background:transparent;color:#00c666;border-color:#00c666}

.button.primary:hover{color:#00a666;border-color:#00a25e }

#home .hero .button.grey-btn{color:#aaa;border-color:#aaa}

#home .hero .button.grey-btn:hover{color:#909090;border-color:#909090}

#home section#make .one-half img{max-width:60%;display:block;margin:0 auto}

#home section#make .one-half img+p{width:85%;margin:0 auto;text-align:center;font-size:95%;color:#aaa}

#home section#x .one-half img{height:165px;display:block;margin:70px auto 0 auto}

@media (max-width: 1050px) {
    header{padding-top:0;height:55px!important;line-height:55px!important}

    header a{font-size:95%;height:auto}

    nav{position:fixed;float: right; width: 100%; left:0;right:0;top:0;overflow-x:auto;white-space:nowrap;text-align:left;background:#fff;z-index:9000;border-bottom:1px solid #eee}

    nav .mob-logo{display:inline-block;font-size:140%;}

    header nav li:last-child a{margin-right:25px}

    footer{display:none}

    header nav li a,footer nav li a{height:30px!important;line-height:30px!important}

    header .left{display:none}
    .hero {
        height: 65%;
        width: 100%;
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: center;
    }

    .dark {
    background-color: #fff;
}

    body#home section.hero{padding-top:4rem}

    body#home section.hero img.logo{margin-top:0px;margin-bottom:20px;height:200px}

    body#home section.hero h1.hero-text{margin-top:0;font-size:300%}

    body#home section.hero span.br{display:block}

    body#home section.hero .button{margin-bottom:10px!important}

    body#home section.hero .button.primary{width:219px!important}

    body#home section#x .one-half img{margin-top:100px}

    body#home section#make .one-half img{margin-top:75px}

 
