table, th, td {
	margin-top: 3%;
    text-align: center;
    border: none;
}
.new{
	font-family: Quicksand;
	font-weight: 700;
}

.tablehead {
	font-weight: 700;
	background-color: #00c666;
	color: #fff;
}

.dark {
	background-color: #eee;
}